html, body{

    padding:0;
    margin:0;
    background-color: FFFFFF;
}

p{
    padding:0;
    margin:0;
    background-color: FFFFFF;
    font-size: 1.5em
}

lista{
    font-size: : 3em;
}

.otsikot{
    color:white;
    background-color: 002F6C;
    margin-top:20px;
    margin-bottom: 20px;
    padding:10px;
    text-align: center;
    font-family: 'koskifont';
    font-size: 4em;

}

.newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-rule: 1px solid black; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid black; /* Firefox */
    column-rule: 1px solid black;
}

.huoneluettelo {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

}

.hintaluettelo {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

}

#logowrapper{
    text-align: center;
    background-color: 002F6C;

}
#logoteksti{

    color:white;
    background-color: 002F6C;
    padding-top: 20px;
    font-family: 'koskifont';
    font-size: 8em;

}

#menuwrapper{
    text-align: center;
}

.button {


    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: 002F6C;
    font-weight: bolder;
    border: none;
}

.button:hover {
    background-color: #002F6C;
    color: white;
}

#mainpicture{
    width: 100%;
}

#mainwrapper{
    width: 100%;
}

#contentwrapper{
   margin-left: 15%;
    margin-right: 15%;
}

#footerwrapper{
    background-color: 002F6C;
    width: 100%;
    height: 300px;

}

@media only screen and (max-device-width: 480px) {


    /* For phones: */
   #contentwrapper{
        margin-left: 2%;
        margin-right: 2%;
    }

    .button {
    padding: 16px 16px;
    }

    .newspaper {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}

}



@font-face {
    font-family: 'koskifont'; /*a name to be used later*/
    src: url('../FONT/koskifont.ttf'); /*URL to font*/
}
