html, body, img{

    padding:0;
    margin:0;
    background-color: FFFFFF;
    border:0px;
}

p{
    padding:0;
    margin:0;
    background-color: FFFFFF;
    font-size: 1.5em;
    font-family: 'leipateksti';

}

.boldaus{
    font-weight: bolder;
    font-size: 1.7em;
}

a{
    font-family: 'leipateksti';
    font-size: 1.5em;
}

a:link, a:visited {
    background-color: #FFFFFF;
    color: #002F6C;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: #002F6C;
    color:white;
}


.erottaja{
    height: 20px;
    background-image: url("IMAGES/wallpaper2.jpg");
    background-attachment: fixed;
}

.otsikot{
    color:white;
    background-color: 002F6C;

    margin-bottom: 20px;
    padding:10px;
    text-align: center;
    font-family: 'koskifont';
    font-size: 4em;

}

.valokuvatyla{
    max-width: 100%;
    width: auto;
    height: auto;

    padding-bottom: 5px;
}


.valokuvatala{
    max-width: 33%;
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;

}

.newspaper {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 5%;
    margin-right: 5%;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 80px; /* Chrome, Safari, Opera */
    -moz-column-gap: 80px; /* Firefox */
    column-gap: 80px;
}

.hintaluettelo {
    margin:5%;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

#logowrapper{
    text-align: center;
    background-color: 002F6C;

}
#logoteksti{

    color:white;
    background-color: 002F6C;
    padding-top: 20px;
    font-family: 'koskifont';
    font-size: 8em;

}

#menuwrapper{
    text-align: center;



}

.yhteystiedot{
    margin-left: 5%;
}

#mainpicture{
    width: 100%;
}

#mainwrapper{
    width: 100%;
    background-image: url("IMAGES/wallpaper2.jpg");
    background-attachment: fixed;
}

#contentwrapper{
   margin-left: 15%;
    margin-right: 15%;
    background-color: white;

}

#footerwrapper{
    background-color: 002F6C;
    width: 100%;
    height: 300px;

}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: 002F6C; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #FFFFFF; /* Add a dark-grey background on hover */
    color:002F6C;
}

@media only screen and (max-device-width: 480px) {


    /* For phones: */
   #contentwrapper{
        margin-left: 2%;
        margin-right: 2%;
    }

    .button {
    padding: 16px 16px;
    }

    .newspaper {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}
    a{
        font-size: 3em;
    }

}



@font-face {
    font-family: 'koskifont'; /*a name to be used later*/
    src: url('FONT/koskifont.ttf'); /*URL to font*/


}

@font-face {
    font-family: 'leipateksti'; /*a name to be used later*/
    src: url('FONT/koskifont2.ttf'); /*URL to font*/


}
